<div class="jumbotron center">
    <h1>Welcome to the Recipe Manager</h1>
    
    
    <h2>Store, view and share your recipes with other users in the community.  Comment and rate other users recipes and mark all your favorites to use in your own kitchen!</h2>
    
    <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
    
</div>

<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest
        </h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
        <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest
        </h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
        <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest
        </h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
        <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
</div>