
$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color : $light-orange;


@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 80px;
    font-family: "Cambria";
}

.clearfix {
    clear: both;
}

a, i {
    text-decoration: none;
}



a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
    font-family: "Leelawadee";
    font-weight: bold;
}

#logo {
    margin: 10px 10px 10px 0;
    float: left;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
   
}

#logo:hover {
    color: white;
    text-decoration: none;
}

.nav_item {
    margin-left: 25px;
    float: left;
    margin-top: 20px;
}

.nav-ul-item {
    padding-left: 25px;
    float: left;
    margin-top: 20px;
}

.center {
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

.left {
    text-align: left;
    letter-spacing: .5px;
}


.footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.chef_info {
    margin-top: 10px;
}

.gravatar {
    border-radius: 10px;
}

.well {
    background-color: #ededed;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    
}

.input-checkbox input{
    width: auto !important;
    
}

.input-checkbox {
    margin-left: 15px !important;
}



input {
    height: auto !important;
}

span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}

.show_recipe {
    
}

.recipe-gravatar {
    margin: 0 20px 20px 0;
    border-radius: 10px;
}

.sort-by-nav {
    margin-top: 35px;
    text-align: left;
}

.active, .pagination > .active > a {
    background-color: #312312 !important;
    color: #ededed !important;
}

.nav-tabs > .tab-active, .nav-tabs > .tab-active > a {
    background-color: #312312 !important;
    color: #ededed !important;
    border-radius: 10px !important;
    border: 2px solid #ededed !important;
}



.time-stamps {
    margin-top: 10px;
}

.created-at {
    margin-bottom: 0;
}

.updated_at {
    margin-bottom: 10px;
}

.thumbs {
    margin-bottom: 0;
    margin-top: 30px;
}

.well > h3 {
    margin-top: 0;
}

.custom-alert {
    width: 350px;
}

.chef {
    width: 31%;
    
}

.chefs {
    text-align: center;
    
}



.chef {
    display: inline-block;
    width: 30%;
    margin: 10px 1.5%;
}

.page-title {
    margin-top: 30px;
    
}

.paginate {
    text-align: right;
   
}

hr {
    margin: 0;
}

.title-row {
    
}

.nav-chef-name {
    color: #ededed;
    font-size: 2em;
    font-weight: bold;
}

.recipe-hr, .nav-hr, .chef-hr {
    margin-bottom: 20px;
}

.hr-top-margin {
    margin-top: 20px;
}

